
body {
  background: #eee;
}

.container {
  background: #f9f9f9;
  margin: 0 auto;
  padding: 1px 20px 20px;
  width: 450px;
}

h1 {
  font-size: 3em;
  margin-bottom: 4px;
}

/*.new-task input {
  font-size: 1.4em;
}*/

#quiz .question {
  font-size: 1.4em;
}

/*#quiz .question label {
  cursor: pointer;
  padding: 0 5px;
}
#quiz .question label:hover {
  background: #70CDD4;
}*/

#quiz .question .answers {
  position: relative;
  float: right;
}

#quiz .question.done label {
  text-decoration: line-through;
}

#templates {
  display: none;
}
